@use './../utils/vars' as v;

.main-content {
  padding: 12% 0 0 v.$spacing;

  div {
    animation: main-content 2s ease-in-out 1s;

    h1 {
      font-size: 50px;
  
      line-height: 0.9;
  
      span {
        margin: 35px;
  
        font-size: 40px;
        font-weight: 400;
      }
    }
  
    p {
      width: 60%;
      margin-top: 5%;
  
      font-size: 22px;
      font-weight: 300;
    }
  }
}

.hidden {
  display: none !important;
}

@keyframes main-content {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}