$primary-color: #FFD14A;

@use './components/_loder';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

.app,
.main-container {
  height: 100%;
}
